.table {
	width: 860px;
	margin: 0 auto;
  }
  
  thead {
	font-weight: bold;
  }
  
  .thead-content {
	display: flex;
	justify-content: space-between;
	padding: 0 80px;
  }
  .thead-content__text {
	line-height: 22px;
	text-align: center;
  }
  
  .head-columns {
	line-height: 22px;
  }
  
  p {
	margin: 0;
  }
  
  .td-intervalo p {
	text-align: center;
	text-transform: uppercase;
  }
